body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
button{
    cursor: pointer;
}
#root{
    text-align: center;
}
.jackpot-container{
    display: flex;
    justify-content: space-evenly;
}
.racing-track{
    margin-top: 2%;
    width: 94vw;
    height: 65vh;
    border: 5px solid black;
    padding: 0;
}
.start-line{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 9.5%;
    width: 3%;
    height: 65%;
    background-color: aquamarine;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.start-line-text {
    padding-top: 40px;
    writing-mode: vertical-lr;
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 28px;
}
.finish-line{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 80%;
    width: 3%;
    height: 65%;
    background-color: red;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.finish-line-text{
    padding-top: 25px;
    writing-mode: vertical-lr;
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 28px;
}
.animals-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.runner{
    display: flex;
    
    width: 100px;
    height: 24%;
    background-color: rgba(255, 255, 255, 0.1);
}
.voice{
    transform: translateY(-40px);
            text-align: center;
            background-color: #fff;
            border: 3px solid #333;
            border-radius: 30px;
            font-family: sans-serif;
          display: none;
}
.voice::before,.voice::after{
    content: ' ';
        position: absolute;
        width: 0;
        height: 0;
}
        .speech::before {
        left: 7.5px;
            bottom: -15px;
            border: 7.2px solid;
            border-color: #333 transparent transparent #333;
        }
.speech::after{
    left: 8.5px;
        bottom: -14px;
        border: 4.9px solid;
        border-color: #fff transparent transparent #fff;
    }

.bet-div{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.bet-animal-img{
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.btn-div{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}